[sam]
host = "10.99.0.2"
port = 7656
udp_port = 7655
session_name = "rust-mule"
datagram_transport = "tcp"
forward_host = "10.99.0.1"
forward_port = 40000
control_timeout_secs = 120

[kad]
bootstrap_nodes_path = "nodes.dat"
udp_port = 4665
preferences_kad_path = "preferencesKad.dat"
udp_key_secret = 0
# Advanced KAD configs, use with caution
# service_alpha = 8
# service_req_min_interval_secs = 5
# service_hello_batch = 5
# service_hello_min_interval_secs = 300

[general]
log_level = "info"
data_dir = "data"
