[sam]
host = "10.99.0.2"
port = 7656
udp_port = 7655
session_name = "rust-mule"
datagram_transport = "tcp"
forward_host = "10.99.0.1"
forward_port = 40000
control_timeout_secs = 30

[kad]
bootstrap_nodes_path = "nodes.dat"
udp_port = 4665
preferences_kad_path = "preferencesKad.dat"
udp_key_secret = 0

[i2p]
sam_private_key = "XoQ44Is-ZWM0dZw3XzBXpXovINSQ6tsM8YLaA4s2tXtehDjgiz5lYzR1nDdfMFelei8g1JDq2wzxgtoDiza1e16EOOCLPmVjNHWcN18wV6V6LyDUkOrbDPGC2gOLNrV7XoQ44Is-ZWM0dZw3XzBXpXovINSQ6tsM8YLaA4s2tXtehDjgiz5lYzR1nDdfMFelei8g1JDq2wzxgtoDiza1e16EOOCLPmVjNHWcN18wV6V6LyDUkOrbDPGC2gOLNrV7XoQ44Is-ZWM0dZw3XzBXpXovINSQ6tsM8YLaA4s2tXtehDjgiz5lYzR1nDdfMFelei8g1JDq2wzxgtoDiza1ew3zFwKtCb76TnhlZmIRbGovAEciszGbr3uQdNvC6erj1EHzjCks8sa-gZIkLknlJVlonny6mGANFXjgLpSHk1c-yMxo~ugWO5wMFu4Sgl6nZ38Exuli1qi3Sd9Y-9BF1BGAsT1Y74-1oLT8kePRYvkhipbb4GZNa39CUvc8AmpDAAAARHQYrZNy2pVYxcYRvwatJmzsKp-L75FdNO7n-Gtncs17-pie~1ULpEgZLYy53sJYAsP12Zxg~Hure1Fcw82-6CoYsDZvw8NmRyoS8rPMe30qhDnxGzhGtxUQzoTCQNmggItLNzHXqeSwO-EzUUwSoKu7wu2LvSucEPP2fr3nEckzWePU-EVQ9DIFQWJKBNrwHPISxd-6t6~Kda8vYxOysg9aSNZ4X8I~k7k0S5rXyLYySErZfOKN5LjTjoWNkP0penKjXHf3iiDSNwe-iCxM5ULX9W9M2WzxAB9NMWX88Hg1~HknpzL8AgsSE4xt4o2~y6-WT69Y3jkBSUKjduxN0xowLobaefN9MeJnBibFx9~rEVnu"
sam_public_key = "XoQ44Is-ZWM0dZw3XzBXpXovINSQ6tsM8YLaA4s2tXtehDjgiz5lYzR1nDdfMFelei8g1JDq2wzxgtoDiza1e16EOOCLPmVjNHWcN18wV6V6LyDUkOrbDPGC2gOLNrV7XoQ44Is-ZWM0dZw3XzBXpXovINSQ6tsM8YLaA4s2tXtehDjgiz5lYzR1nDdfMFelei8g1JDq2wzxgtoDiza1e16EOOCLPmVjNHWcN18wV6V6LyDUkOrbDPGC2gOLNrV7XoQ44Is-ZWM0dZw3XzBXpXovINSQ6tsM8YLaA4s2tXtehDjgiz5lYzR1nDdfMFelei8g1JDq2wzxgtoDiza1ew3zFwKtCb76TnhlZmIRbGovAEciszGbr3uQdNvC6erj1EHzjCks8sa-gZIkLknlJVlonny6mGANFXjgLpSHk1c-yMxo~ugWO5wMFu4Sgl6nZ38Exuli1qi3Sd9Y-9BF1BGAsT1Y74-1oLT8kePRYvkhipbb4GZNa39CUvc8AmpDAAAA"

[general]
log_level = "debug"
data_dir = "data"
