:root {
  /* Spacing */
  --s-1: 0.375rem;
  /* 6px */
  --s-2: 0.625rem;
  /* 10px */
  --s-3: 0.875rem;
  /* 14px */
  --s-4: 1.125rem;
  /* 18px */
  --s-5: 1.5rem;
  /* 24px */

  /* Radius */
  --radius-sm: 0.5rem;
  --radius: 0.75rem;

  /* Border */
  --border: 1px;
}
